.checkout-page {
    width: 60vw;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
    
    .checkout-header {
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid darkgrey;

        .header-block {
            text-transform: uppercase;
            width: 20%;

            &:last-child {
                width: 10%;
            }
        }
    }

    .total {
        margin-top: 30px;
        margin-left: auto;
        font-size: 30px;
    }

    button {
        height: auto;
        margin-left: auto;
        margin-top: 20px
    }

    .note {
        color: rgb(127, 135, 139);
        margin-top: 10px
    }

    @media screen and (max-width: 800px) {
        width: 85vw;
        .checkout-header .header-block {
            text-transform: unset;
            
            &:last-child {
                width: 15%;
            }

            &.price {
                width: 15%;
            }

            &.remove {
                width: 15%;;
            }
        }
    }
}