.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;

    .buttons {
        display: flex;
        justify-content: space-between;
    }

    .create-account-link {
        text-decoration: underline;
    }

    @media screen and (max-width: 800px) {
        width: 65vw;

        .buttons {
            flex-direction: column; 
            
            button {
                margin: 10px 0;
            }
        }
    }
}

