.favorite-list {
    margin: 20px 20px;
    padding: 20px 20px;
    width: 60%;

    .favorite-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;

        .collection-item {
            width: auto;
            margin-bottom: 20px;
        }
    }
}

.favorite-item-enter {
    opacity: 0;
}

.favorite-item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.favorite-item-exit {
    opacity: 1;
}

.favorite-item-exit-active {
    opacity: 0;
    transition: opacity 1s ease-in;
}