.search-result {

    .number-items {
        font-style: italic;
        margin-bottom: 20px;
    }

    .search-result-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        .collection-item {
            width: auto;
            margin-bottom: 20px;
        }
    }
}

.search-item-enter {
    opacity: 0;
}

.search-item-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.search-item-exit {
    opacity: 1;
}

.search-item-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in;
}
