.search-result {

    .number-items {
        font-style: italic;
        margin-bottom: 20px;
    }

    .search-result-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;

        .collection-item {
            width: auto;
            margin-bottom: 20px;
        }
    }
}
